---
layout: ""
page_title: "Provider: Dhall"
description: |-
  The Dhall provider provides a data source for dhall expressions
---

# Dhall Provider

The Dhall provider provides a data source for [dhall-lang](https://dhall-lang.org) expressions.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ tffile "examples/provider/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
